@import "tailwindcss";
@theme {
  --shadow-main: 0 4px 16px 0 rgba(0, 0, 0, .08); 
  --inset-shadow-md: 0 1px 0px 0px #E9E9E9; 
}
.Toastify__progress-bar-theme--light{
  background: #02A53B !important; /* Green color */
}